#         Analise de dados no Futebol

### Integrantes do projeto:

1. Antônio Victor
2. Eduardo Filho
3. Jéssica Rangel
4. Rafael Lima

## Motivação e objetivos da análise

A Análise de Dados no Futebol Profissional é uma tendência nos esportes de alto rendimento.Com isso, nosso grupo busca compreender a importância e a utilidade na análise de dados dos clubes e dos jogadores, além disso, a profissão e a evolução dos scouts é um fato histórico e relevante para abordamos essa temática.

## Dados usados

In [15]:
#Importação das bibliotecas 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import plotly.express as px

#Importação dos dados
url = 'https://github.com/AVTBrasil/An-lise-de-Dados-no-Futebol/raw/main/tabela_clubes.csv'
dados = pd.read_csv(url)
dados.head()

,Ano,Pos.,Clubes,Vitorias,Derrotas,Empates,GolsF/S,Saldo,Qtd_Jogadores,Idade_Media,Estrangeiros,Valor_total,Media_Valor,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,2017,18,America-MG,10,10,18,30:47,-17,51,"24,8",0,27350000,536000,NaN,NaN,NaN,NaN
1,2017,7,Athletico-PR,16,9,13,54:37,17,52,24,3,37650000,724000,NaN,NaN,NaN,NaN
2,2017,6,Atletico-MG,17,8,13,56:43,13,50,"23,4",6,61350000,1230000,NaN,NaN,NaN,NaN
3,2017,11,Bahia,12,12,14,39:41,-2,48,"23,2",2,34900000,727000,NaN,NaN,NaN,NaN
4,2017,9,Botafogo,13,12,13,38:46,-8,45,"23,1",4,25550000,568000,NaN,NaN,NaN,NaN

In [16]:
#Importação dos dados
url = 'https://github.com/AVTBrasil/An-lise-de-Dados-no-Futebol/raw/main/Valor_Jogador.csv'
dados2 = pd.read_csv(url)
dados2.head()

,Jogadores,Clube,Valor de mercado,Diferença,%,Nac.,Idade,Dia da alteração
0,Endrick,SE Palmeiras,55.0,10.0,22.2,Brasil,17,28/03/2024
1,André,Fluminense FC,25.0,0.0,0.0,Brasil,22,28/03/2024
2,Pedro,CR Flamengo,22.0,0.0,0.0,Brasil,26,28/03/2024
3,Raphael Veiga,SE Palmeiras,18.0,0.0,0.0,Brasil,28,28/03/2024
4,Luis Guilherme,SE Palmeiras,17.0,0.0,0.0,Brasil,18,28/03/2024

## Pré-processamento e Tratamento de dados

In [18]:
#Eliminando colunas vazias
colunas = ['Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16']
dados.drop(columns=colunas)
display(dados)

,Ano,Pos.,Clubes,Vitorias,Derrotas,Empates,GolsF/S,Saldo,Qtd_Jogadores,Idade_Media,Estrangeiros,Valor_total,Media_Valor,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,2017,18,America-MG,10,10,18,30:47,-17,51,"24,8",0,27350000,536000,NaN,NaN,NaN,NaN
1,2017,7,Athletico-PR,16,9,13,54:37,17,52,24,3,37650000,724000,NaN,NaN,NaN,NaN
2,2017,6,Atletico-MG,17,8,13,56:43,13,50,"23,4",6,61350000,1230000,NaN,NaN,NaN,NaN
3,2017,11,Bahia,12,12,14,39:41,-2,48,"23,2",2,34900000,727000,NaN,NaN,NaN,NaN
4,2017,9,Botafogo,13,12,13,38:46,-8,45,"23,1",4,25550000,568000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2008,18,Santo Andre,11,8,19,46:61,-15,43,"25,1",3,6230000,145000,NaN,NaN,NaN,NaN
196,2008,12,Santos,12,13,13,58:58,0,33,"23,9",1,27850000,844000,NaN,NaN,NaN,NaN
197,2008,3,Sao Paulo,18,11,9,57:42,15,30,"23,9",1,46650000,1560000,NaN,NaN,NaN,NaN
198,2008,20,Sport,7,10,21,48:71,-23,30,25,1,15600000,520000,NaN,NaN,NaN,NaN
199,2008,13,Vitoria,13,9,16,51:57,-6,38,"24,1",2,13450000,354000,NaN,NaN,NaN,NaN

## Perguntas:

### 1. Nos últimos 10 anos, quais times mostraram maior evolução em termos de desempenho no futebol? Além disso, quais equipes se destacaram como as mais ofensivas durante esse período?

### 2. Qual equipe investiu mais em escout e análise de dados? Essa equipe obteve êxito? E como ela investiu?

### 3. Como as decisões táticas, como substituições e cartões vermelhos, influenciam o decorrer de uma partida de futebol?

# Conclusão

In [ ]:
#Conclusão: resumir os resultados encontrados e explicar por que são
#importantes. Apontar limitações, trabalhos futuros e melhorias que podem
#ser feitas.